body{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.mainClass{
    display: flex;
    background-color: #ffe4c4;
    color: blueviolet;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 40px 0;
    margin-top: 50px;
}

.mainHead{
    letter-spacing: 0.06em;
}

.getUserInput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#weightScore{
    margin-bottom: 65px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.numbers input{
    margin: 0 20px;
    border: none;
    border-bottom: 1px solid #ffe4c4;
    text-align: center;
    color: azure;
    background-color: black;
}

#button{
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    margin: 40px 0;
    color: darkslategray;
    background-color: coral;
}